<ion-modal-view class="ion-nifty-modal">
	<ion-content>
		<div class="rates">
			<h3>
	  Add to bookmarks
	</h3>
	<p>You can bookmark posts and read it offline.</p>
			  <div class="lessons2-image"></div>

		<div class="button-bar">
	  <a class="button button-clear" ng-click="lesson2_modal.remove(); didLesson2();">Skip</a>
	  <a class="button button-clear"></a>
	  <a class="button button-dark" ng-click="lesson2_modal.remove(); lesson3_modal.show(); didLesson2();">Next</a>
	</div>
	</div>
    </ion-content>
</ion-modal-view>
