<ion-modal-view class="ion-nifty-modal">
	<ion-content>
		<div class="rates">
			<h3>
	  Categories
	</h3>
	<p>Use the search icon to access comedy categories such as pictures, videos, jokes, etc.</p>
			  <div class="lessons1-image"></div>

		<div class="button-bar">
	  <a class="button button-clear"></a>
	  <a class="button button-clear"></a>
	  <a class="button button-dark" ng-click="modal.remove();"><i class="ion-checkmark-round light"></i> Ok</a>
	</div>
	</div>
    </ion-content>
</ion-modal-view>
