<ion-modal-view class="ion-nifty-modal">
	<ion-header-bar class="darkbutton effect1">
		<h1 class="titleuni">Yay!</h1>
		<div class="button button-clear" on-tap="hideAppRateModelYes()"><span class="icon ion-close"></span></div>
	</ion-header-bar>
	<ion-content>
		<div class="rates">
			<div class="rates-image1"></div>
			<p>
				We are happy that you like our application!
			</p>
			<p>
				Please, support us by giving us a rating from 1 to 5. 5 stars is the highest rating.
			</p>

			<button class="button ion-ios-star button-full button-balanced" on-tap="appRate(); hideAppRateModelYes();">
				Rate TATAFO
			</button>
		</div>
	</ion-content>
</ion-modal-view>
