<ion-modal-view class="ion-nifty-modal rating-popup yesno">
	<ion-header-bar class="darkbutton effect1">
		<h1 class="titleuni">:(</h1>
		<div class="button button-clear" on-tap="hideAppRateModelNo()"><span class="icon ion-close"></span></div>
	</ion-header-bar>
	<ion-content>
		<div class="rates">
			<p>
				We are sorry you dont enjoy using Tatafo. Would you mind giving us some feedback?
			</p>
			<div class="button-bar">

				<a class="button button-block ion-sad button-assertive" on-tap="hideAppRateModelNo()"> No, Thanks</a>
				<a class="button button-block ion-happy button-stable" on-tap="popAsk1(); hideAppRateModelNo();"> Yes</a>
			</div>
		</div>
	</ion-content>
</ion-modal-view>
