<ion-modal-view class="ion-nifty-modal">
	<ion-header-bar class="darkbutton effect1">
		<h1 class="titleuni">Question</h1>
		<div class="button button-clear" on-tap="hideModel()"><span class="icon ion-close"></span></div>
	</ion-header-bar>
	<ion-content>
		<div class="rates">
			<div class="rates-image">
				<img ng-src="img/feeds/logos/cnn.jpg">
			</div>
			<p>
			Do you enjoy using Tatafo?
			</p>
			<div class="button-bar">
				<a class="button ion-sad button-block button-assertive" ng-click="showAppRateModelForNo(); hideModel();"> NO</a>
				<a class="button ion-happy button-block button-balanced" ng-click="showAppRateModelForYes(); hideModel();"> YES</a>
			</div>
		</div>
	</ion-content>
</ion-modal-view>
