<ion-modal-view class="ion-nifty-modal">
	<ion-header-bar class="darkbutton effect1">
		<h1 class="titleuni">:(</h1>
		<div class="button button-clear" on-tap="hideAppRateModelNo()"><span class="icon ion-close"></span></div>
	</ion-header-bar>
	<ion-content>
		<div class="rates">
			<p>
				We are sorry you dont enjoy using Tatafo. Please let us know how to improve your user experience. We appreciate your feed back
	    	</p>
			<button class="button ion-email button-full button-balanced" on-tap="popAsk1(); hideAppRateModelNo();">
				Send Feedback
			</button>
		</div>
    </ion-content>
</ion-modal-view>
