<ion-view  class="apps-view">
  <ion-nav-title>
    <span>LWKM</span>
  </ion-nav-title>
  <ion-content>

    <div class="post-card">

      <div class="item item-avatar">
        <img src="img/tatafo.png">
        <h2>Tatafo</h2>
        <p>The gossip app</p>
      </div>

      <div class="item item-body">
        <p>
          Get the latest Entertainment and Gossip news from the top blogs. Save big on data and read gossip offline
        </p>
        <button class="button button-full button-assertive" onclick="window.open('market://details?id=com.wec.tatafo', '_system', 'location=yes'); return false;">
  <i class="icon ion-bag"></i>   Get It
  </button>
      </div>

    </div>

  </ion-content>

</ion-view>
