<ion-view class="bookmarks-view">
    <ion-nav-bar class="bar app-top-bar effect1">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-title>
            <span>Bookmarks</span>
        </ion-nav-title>
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">        
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content has-bouncing="false" class="feed-entries-details-view top-spacing">
                
        <div ng-if="(bookmarks.feeds.length == 0 || bookmarks.length == 0)" class="row empty-bookmark">
            <div class="empty-results col col-center">
                <i class="icon ion-bookmark"></i>
                <h3 class="no-bookmarks">There's nothing here yet. Start exploring!</h3>
            </div>
        </div> 

        <div class="entries-list feed-col" ng-if="(bookmarks.feeds.length > 0 || bookmarks.length > 0)">
            <div ng-repeat="entry in bookmarks | orderBy:'feed.updated': true" image-path-fix class="list card entry-item">
                <div class="entry-content item item-text-wrap">
                    <div>
                        <p class="entry-author">
                            <span class="entry-author-name">By {{entry.doc.data.source_name}}</span> 
                            <span class="feed-date-time" ng-bind-html="entry.doc.data.feed.updated | utcTimestampToLocalDateFilter"></span>
                        </p>
                        <div class="entry-content-section">
                            <div class="entry-content-img" image-path-fix>              
                                <img src="{{entry.doc.data.image || defaultImage}}">
                            </div>
                            <div class="entry-content-title">
                                <h2 ng-bind="entry.doc.data.feed.title"></h2>
                            </div>
                            <div class="clearfix"></div>
                        </div> 
                    </div>

                    <div class="card-footer">
                        <div class="button-bar">
                            <a class="button button-clear card-button secondary btn-open" on-tap="deleteBookMark(entry.doc)"><i class="icon ion-trash-b coin"></i> Delete</a> 
                            <a class="button button-clear card-button primary btn-open" on-tap="goToFeedPostArticle(entry.doc.data)"><i class="icon ion-android-open coin"></i> Open</a>                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>   
</ion-view>
