<ion-popover-view  class="fit">
    <ion-content scroll="false">
        <div class="list">        

            <a class="item" on-tap="showSetting(); closePopover();">
                <i class="icon bigsocial ion-settings" style="color: #FF3333;"></i> Settings
            </a>
            <a class="item" app-rate-directive on-tap="closePopover()">
                <i class="icon bigsocial ion-android-favorite" style="color: #FF3333;" ></i> Rate App 
            </a>
            <a class="item" on-tap="closePopover()">
                <i class="icon bigsocial ion-ios-trash-outline" style="color: #FF3333;"></i> Clear Cache
            </a>
        </div>
    </ion-content>
</ion-popover-view>
