<ion-view class="settings-view">
    <ion-nav-bar class="bar app-top-bar effect1">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">        
        </ion-nav-buttons>
        <ion-nav-title>
            <span>Settings</span>
        </ion-nav-title>
    </ion-nav-bar>
    <ion-content>
        <ul class="list">
            <div class="item item-divider"></div>
            <ion-toggle ng-model="push" toggle-class="toggle-assertive" ng-change="showStatus(push)"> Push Notifications</ion-toggle>
            <div class="item item-divider"></div>
            <ion-toggle ng-model="pictures" toggle-class="toggle-assertive" ng-change="disableImage(pictures)">Disable Picture</ion-toggle>
            <div class="item item-divider"></div>
            <div on-tap="showPopup()" class="item sync-interval-setting">
                <div class="pull-left">Sync data after</div>
                <div class="pull-right" ng-if="selectedInterval()" ng-bind="selectedInterval()"></div>
            </div>
            <!-- <button class="button button-block button-light" ng-click="">
            </button> -->
            <!-- <div class="item item-divider"></div> -->
        </ul>
    </ion-content>
</ion-view>
