
<ion-tabs class="tabs-striped tabs-color-assertive tabs-icon-top">

  <ion-tab title="About" icon-on="ion-happy" icon-off="ion-happy-outline">
    <!-- Tab 1 content -->
<ion-nav-view class="about-view">
  <ion-content class="padding">
      <div class="about-image effect4"></div>
  <div>
        <h3 class="title assertive">Wetin we dey do?</h3>
         <p>LWKM stands for Laff Wan Kill Me. We  are a library for all things/people that are funny. We believe life is too hard and that you deserve a break. What better way to unwind than to laugh and forget stressful situations?</p>
         <p>
         We get our laughs from different internet/in-house  sources and we promote comedians and upcoming comedians. Making people laugh is not easy. Hence, we credit you for your works that we showcase here.
        </p>
      </div>
    </div>
	 </ion-content>
</ion-nav-view class="about-view">
  </ion-tab>

  <ion-tab title="Disclaimer" icon-on="ion-ios-people-outline" icon-off="ion-alert-circled">

    <!-- Tab 2 content -->
<ion-nav-view>
  <ion-content class="padding">
        <h3 class="title assertive">The Team</h3>
         <p>Meet the jobless people behind this app</p>
		  <h4 class="title assertive">Engr Akpos</h4>
		  <div class="engrakpos"></div>
		   <p><strong>BIO:</strong> Engineer Akpos is a struggling Warri Comedian that has been in the comedy game for the past 15 years. He has not still blown. </p>
		   <p><strong>HOBBIES:</strong>  Playing Ayo, impregnating, Tapping palmwine and evangelising to beer bottles</p>
		   <p><strong>FAMILY:</strong>  girlfriend/wife/babymama and 14 pikins (Yes, 15!)</p>

		   <h4 class="title assertive">Akpos Babe</h4>
     <div class="akposbabe"></div>
		   <p><strong>BIO:</strong>Akpos Babe is the long suffering girlfriend/wife in waiting of Engr Akpos. He has been promising her marriage for the past ten years.</p>
		    <p><strong>HOBBIES:</strong>  Daydreaming about weddings and pounding yam for her soccer team</p>
		   <p><strong>FAMILY:</strong>  Useless man/husband and 11 pikins</p>

		      <h4 class="title assertive">Oga Sir</h4>
     <div class="ogasir"></div>
		   <p>Oga Sir is the Oga/Chairman/Chief/MD/tycoon/Mover and Shaker/Mogul/Otunba/Leader/sponsor/Elder of thought of this app.</p>
		   <p><strong>HOBBIES:</strong>  Importing, Exporting, Marrying wives and eating ewedu</p>
		   <p><strong>FAMILY:</strong>  6 wives and 44 pikins</p>
    </div>
  </ion-content>
</ion-nav-view>
  </ion-tab>

  <ion-tab title="Policy" icon-on="ion-ios-bookmarks" icon-off="ion-ios-bookmarks-outline">
    <!-- Tab 3 content -->
	<ion-nav-view class="about-view">
	 <ion-content class="padding">
  <div>
        <h3 class="title assertive">POLICY</h3>
         <p>We take your privacy seriously. Please click the button below to learn more.</p>

      </div>

    <div><button class="button ion-camera button-block button-assertive" onclick="window.open('http://www.lwkm.ng/privacy/', '_system', 'location=yes'); return false;"> Privacy Policy
</button></div>
    </div>
	 </ion-content>
	</ion-nav-view>
  </ion-tab>

</ion-tabs>
