<ion-view hide-back-button="true" hide-nav-bar="true">
      <ion-slide-box on-slide-changed="slideChanged(index)" pager-click="pagerClicked(index)" style="background-color: {{pages.backgroundColor}};">
            <ion-slide ng-repeat="page in pages" style="background-color: {{page.backgroundColor}};">
                  <div class="list text-center padding">
                        <button on-tap="skip()" class="button button-clear tour-button-left" style="font-size: {{ioniconSize}}; color: {{ioniconColor}} !important;" ng-show="atFirstPage"><i class="ion-android-close"></i></button>
                        <button on-tap="previous()" class="button button-clear button-light tour-button-left" style="font-size: {{ioniconSize}}; color: {{ioniconColor}} !important;" ng-show="!atFirstPage"><i class="ion-android-arrow-back"></i></button>
                        <img class="tour-image" style="width: {{imageWidth}};" src="{{page.image}}">
                        <button on-tap="next()" class="button button-clear button-light tour-button-right" style="font-size: {{ioniconSize}}; color: {{ioniconColor}} !important;" ng-show="!atLastPage"><i class="ion-android-arrow-forward"></i></button>
                        <button on-tap="skip()" class="button button-clear button-light tour-button-right" style="font-size: {{ioniconSize}}; color: {{ioniconColor}} !important;" ng-show="atLastPage"><i class="ion-android-close"></i></button>
                  </div>
                  <center><h5 class="tour-title" style="max-width: {{textWidth}}; color: {{fontColor}}; font-size: {{titleSize}};">{{page.title}}</h5>
                  <h5 class="line-height-160 tour-subtitle" style="max-width: {{textWidth}}; color: {{fontColor}}; font-size: {{subtitleSize}};">{{page.subtitle}}</h5></center>
                  <button class="button button-clear tour-button" ng-show="!atLastPage" style="font-size: {{textSize}}; color: {{fontColor}} !important;">{{pages.nextPageText}}</button>
                  <button on-tap="skip()" class="button button-clear tour-button" ng-show="atLastPage" style="font-size: {{textSize}}; color: {{fontColor}} !important;">{{pages.endText}}</button>
            </ion-slide>
      </ion-slide-box>
</ion-view>
