.rating-popup {
	height: 180px !important
}
.titleuni {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 0;
	overflow: hidden;
	padding: 0 10px;
	min-width: 30px;
	height: 43px;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 17px;
	font-weight: 500;
	line-height: 44px;
	background-color: #FFC;
}
.rates {
    padding: 20px;
    text-align: justify;
}
.rates-image1 {
    height: 32px;
    width: 100%;
    margin-bottom: 5px;
    background-color: #FFF;
    background-repeat: no-repeat;
    background-image: url(../img/rating.png);
    background-position: center, center;
}

.customer-search-box.email-search-box {
    z-index: 20;
    background-image: none;
    padding: 0;
    width: 90%;
    right: 0;
    left: auto;
    background: #E74D4D;
    * {
        color: #000;
    }
}

.search-container {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    padding: 0 40px 0 15px;
    i {
        margin-top: -9px;
        position: absolute;
        top: 50%;
        font-size: 1.1em;
        color: #aaa;
        text-align: center;
        width: 1.28em;
    }
    .search-icon {
        i {
            left: 15px;
        }
    }
    .close-icon {
        i {
            right: 8px;
            font-size: 1.5em;
            margin-top: -11px;
            color: #fff;
        }
    }
    input {
        height: 30px;
        margin-top: 5px; 
        padding-left: 25px;
        width: 90%;        
        color: #fff;
        border-bottom: 1px solid #fff;
        background-color: #fff;
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: #000;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          color: #000;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          color: #000;
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: #000;
        }
    }
}
.has-subheader {
    top: 44px;
}