.rating-popup {
	height: 180px !important
}
.titleuni {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 0;
	overflow: hidden;
	padding: 0 10px;
	min-width: 30px;
	height: 43px;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 17px;
	font-weight: 500;
	line-height: 44px;
	background-color: #FFC;
}
.rates {
    padding: 20px;
    text-align: justify;
}
.rates-image1 {
    height: 32px;
    width: 100%;
    margin-bottom: 5px;
    background-color: #FFF;
    background-repeat: no-repeat;
    background-image: url(../img/rating.png);
    background-position: center, center;
}

.customer-search-box.email-search-box {
    transform: translate(0,-100%);
    -webkit-transform: translate(0,-100%);
    transition: all .3s ease-in-out 0s;
    z-index: 20;
    border-bottom: 1px solid #ddd;
    background-image: none;
    padding: 0;
}

.search-container {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    padding: 0 40px 0 15px;
    i {
        left: 18px;
        margin-top: -9px;
        position: absolute;
        top: 50%;
        font-size: 1.1em;
        color: #aaa;
        font-weight: 800;
    }
    input {
        height: 40px;
        padding-left: 25px;
        width: 100%;
        font-weight: 600;
    }
}