.category-feeds-view
{
	background-color: $content-bg !important;

	.category-feeds
	{
		.item
		{
			padding-left: 60px;
		}

		.item .thumbnail-outer
		{
			position: absolute;
			left: 10px;
			width: 40px;

			.thumbnail
			{
				width: 100%;
			}
		}

		.item .title
		{
			font-weight: 500;
		}

		.item .description
		{
			color: lighten($content-color, 35%);
		}
	}
}

.source-section {
	position: relative;
	text-align: center;
	max-height: 210px;
	.feed-category {
		display: block;
		background-color: #fff;
		.circle-img {
			height: 60px;
			position: absolute;
			&.circle-1 {
				top: 8px;
				left: 12px;
			}
			&.circle-2 {
				bottom: 40px;
				right: 20px;
			}
		}
		.source-img-char {
			font-size: 9em;
			position: relative;
			// height: 170px;
			line-height: normal;
			p {
				margin: 0;
			}
		}
		.source-title {
			background: rgba(0,0,0,0.2);
			padding: 5px 0;
			p {
				margin: 0;
				font-size: 1.2em;
			}
		}
	}
}

.categories-list {
	padding: 5px;
	.source-section {
		width: 50%;
	    display: inline-block;
	    padding: 5px;
	}
}

.offline {
	margin-top: 40px;
	text-align: center;
	img {
		padding: 30px 0;
		height: 250px;
	}
	p {
		color: #000;
		font-size: 20px;
	}
}
.btn-spacing{
	
	padding: 10px 0;
	margin-top: 10px;
	a{

		line-height: 34px !important;
	}
	.icon-font {
		font-size: 40px;
	}

}
