.feed-entries-view
{
	background-color: $content-bg !important;

	.entry-heading
	{
		padding-top: 8px;
		padding-bottom: 8px;
		background-color: darken($entry-heading-color, 10%);
		border-color: #000;

		.entry-title
		{
			color: $entry-title-color;
		}

		.entry-author
		{
			font-weight: 500;
	
		}
	}

	.entry-content
	{
		padding-top: 8px;
		padding-bottom: 0px;

		.entry-excerpt
		{
			overflow: hidden;
			text-overflow: ellipsis;
			@include display(flex);
			@include flex-direction(column);
			-webkit-line-clamp: $entry-excerpt-lines; /* number of lines to show */
			line-height: $entry-font-size + 4;        /* fallback */
			font-size: $entry-font-size;        /* fallback */
			max-height: ($entry-font-size + 4) * $entry-excerpt-lines;       /* fallback */

			*
			{
				font-size: inherit !important;
			}
		}

.card-header
{
  padding:16px 16px 16px 8px;
}



.card-button
{
  font-size: 16px;
  // padding: 5px 5px 5px 0;
  text-decoration: none;

  &.primary
  {
    color: #FF4C4C;
  }

  &.secondary
  {
    color: #FF4C4C;

  }

   &.university
  {
    color:  #FF4C4C;
	float: right;
	margin: -5px -15px 0 0;
	font-size: 16px;
  }

}

.card-footer
{
  // border-top: 2px solid lighten($content-color,60);
  // padding:16px;
  // margin-top:5px;
  // font-weight: 500;
}
	}
}

.read-unread {
	padding:0 10px;
}
.feed-date-time {
	float: right;
}

.feed-entries-card	{
	// padding: 0 17px;
	.feed-date{
		float: right;
		font-weight: 400;
	}
	
}
.social-list-border {
	border: 1px solid;
}
.feed-detail-cont {
	padding: 10px;
	.feed-entries-card {
		border-bottom: 1px dashed #ccc;
		margin-bottom: 10px;
	}
	.feed-detail-content {
		img {
			width: 100%;
			height: auto;
		}
		iframe {
			width: 100%;
		}
	}
}

.credit-bar-section {
	background-color: #444;
	margin: 10px 0;
	padding: 10px;
	.credit-bar-icon {
		float: left;
		i {
			color: #fff;
			font-size: 26px;
		}
	}
	.credit-bar {
		p {
			color: #fff;
			margin: 0 0 0 27px;
			&:first-child {
				margin-top: 0 !important;
			}
		}
		.credit-bar-link {
			color: #33AC6B;
		}
	}
}
.entry-content {
	.entry-content-section {
		padding: 16px 0;
		/* a {
			padding: 16px 0;
		} */
	}
	.entry-content-img {
		float: left;
		width: 85px;
		img {
			width: 100%;
		}
	}
	.entry-content-title {
		padding-left: 100px;
	}
}

.entry-content-unread {
	background-color: #f5f5f5;
	.item {
		background-color: #f5f5f5;	
	}
}
.bookmark-save-icon {
	color: red;
}



