<ion-view class="feed-entries-view">
<ion-nav-buttons side="left">
    <button class="button button-icon ion-navicon" menu-toggle="left">
    </button>
    <button class="button button-icon button-clear ion-ios-arrow-down" ng-click="popover.show($event)" ng-hide="sortPop">Sort  
    </button>
</ion-nav-buttons>
<ion-content class="has-header feed-entries-details-view" on-scroll="getScrollPosition()" delegate-handle="feedshandler" >
	<!-- Refresh to get the new posts -->
	<ion-refresher on-refresh="doRefresh()" pulling-text="Pull to refresh..." spinner="none">
	</ion-refresher>
	<div class="entries-list feed-col">
		<div ng-repeat="entry in allFeed | orderBy : 'updated_at' : true  track by $index" class="list card entry-item">
			<div class="entry-content item item-text-wrap" >
				<div on-tap="loadPostDetails(entry)">
					<i (!entry.is_read) ? class="icon ion-eye-disabled left read-unread" : class="icon ion-eye left read-unread"></i>
					<p class="entry-author">
						<span>By {{entry.source_name}}</span> 
						<span class="feed-date-time" ng-bind="entry.updated_at | dateTimeFilter"></span>
					</p>
					<div class="list">
						<a class="item item-thumbnail-left" href="#">
							<img  ng-src={{entry.feed.image}}>
							<h2 ng-bind="entry.feed.title"></h2>
						</a>
					</div> 
				</div>
				<div class="card-footer">
					<a class="card-button secondary" on-tap="bookmarkPost(entry)">
						<i class="icon ion-android-bookmark"></i> Save
					</a>
					<a class="card-button primary" ng-click="sharePost(entry)"><i class="icon ion-android-share-alt coin"></i> Share</a>
				</div>
			</div>
		</div>
	</div>
	<!-- Infinit scroll -->
	<ion-infinite-scroll on-infinite="loadMore()" distance="15px" immediate-check="false" ng-if="!isMoreFeeds">
	</ion-infinite-scroll>
</ion-content>
	<div class="float-button effect1" ng-show="sttButton" ng-click="scrollTop()"	>
		<span class="height-fix">
			<a class="cont">
				<i class="icon ion-chevron-up white"> </i>
			</a>
		</span>
		</div>
</ion-view>
