<ion-view class="feed-entries-view" header-hide-directive>
	<ion-nav-bar class="headerOfPage bar app-top-bar effect1 header-item-buttons">		
		<ion-nav-buttons side="left">
			<button class="button button-icon ion-navicon" menu-toggle="left"></button>
			<button class="button button-icon button-clear ion-ios-arrow-down" on-tap="popover.show($event)">Sort  
			</button>
		</ion-nav-buttons>
		<ion-nav-buttons side="right"> 
			<button class="button button-icon button-clear ion-refresh" on-tap="doRefresh()"> 
			</button>	
			<button class="button button-icon button-assertive ion-search" on-tap="onSearchIconClick()"> </button>
			<button class="button button-icon button-assertive ion-close-circled" ng-show="isSearchOpen"> </button>
			<header-popover></header-popover>                   
		</ion-nav-buttons>
	</ion-nav-bar>
	
	<ion-header-bar class=" search-bar bar bar-subheader effect1 customer-search-box email-search-box filter-bar-wrapper filter-bar-transition-vertical" ng-class="{ 'filter-bar-in':isSearchOpen }">
		<div class="search-container">
    		<span class="search-icon">
    			<i class="icon ion-search"></i>
    		</span>
    		<input 
    			type="search"
    			autocomplete="off" 
    			ng-model="searchQuery" 
    			placeholder="Search" 
    			action-enter="search(searchQuery)"/>
    		<span class="close-icon" 
    			on-tap="onClosedIconClick(); searchQuery = ''">
    			<i class="icon ion-close-circled"></i>
    		</span>		 	
    	</div>
	</ion-header-bar>
	<ion-content  has-bouncing="false" class="feed-entries-details-view top-spacing" on-scroll="hideHeader();" delegate-handle="headerHideHandler">
		 		
		<ion-refresher ng-if="allFeed.length > 0" on-refresh="doRefresh()" pulling-text="Pull to refresh..." spinner="none">
		</ion-refresher>
		
		<div class="row empty-container" ng-if="allFeed.length == 0 && loaded">
            <div class="empty-results col col-center">
                <i class="icon ion-ios-paper"></i>
                <h3 class="no-bookmarks">There's nothing here yet.</h3>
            </div>
        </div> 
		
		<div class="entries-list feed-col" ng-if="allFeed.length > 0">
			<div ng-repeat="entry in allFeed | orderBy:'feed.updated': true" image-path-fix class="list card entry-item">
				<feed-listing-item></feed-listing-item>
			</div>
		</div>
		<!-- Infinit scroll -->
	    <ion-infinite-scroll ng-if="allFeed.length > 0 && isMoreFeeds" on-infinite="loadMore()" distance="1%" immediate-check="false">
	    </ion-infinite-scroll>
	</ion-content>
	<div class="float-button effect1 chevron-top-arrow-color" ng-show="sttButton" on-tap="scrollTop()"	>
		<span class="height-fix">
			<a class="cont">
				<i class="icon ion-chevron-up white"> </i>
			</a>
		</span>
	</div>
</ion-view>
