<div ng-hide="appRateCard" class="entry-content">
		<h1 class="titleuni">Hello</h1>
		<div class="button button-clear crossbtn" on-tap="hideCards()"><span class="icon ion-close"></span></div>
	<div class="rates">
		<p>
			Enjoying this app?
		</p>
		<div class="button-bar">
		<a class="button button-block ion-sad button-assertive" on-tap="showAppRateForNo()"> Not Really</a>
			<a class="button button-block ion-happy button-stable" on-tap="showAppRateForYes();"> Yes!</a>
		</div>
	</div>
</div>
<div ng-hide="appRateCardNo" class="entry-content">
	<h1 class="titleuni">:(</h1>
	<div class="button button-clear crossbtn" on-tap="hideCards()"><span class="icon ion-close"></span></div>
	<div class="rates">
		<p>
			We are sorry you dont enjoy using Tatafo. Would you mind giving us some feedback?
		</p>
		<div class="button-bar">
		<a class="button button-block ion-sad button-assertive" on-tap="hideCards()"> Not Really</a>
			<a class="button button-block ion-happy button-stable" on-tap="popAsk1(); hideCards()"> Yes</a>
		</div>
	</div>
</div>
<div ng-hide="appRateCardYes" class="entry-content">
	<h1 class="titleuni">Thanks!</h1>
	<div class="button button-clear crossbtn" on-tap="hideCards()"><span class="icon ion-close"></span></div>
	<div class="rates">
		<p>
			How about a rating on the appstore then? Ratings start from 1 to 5. 5 stars is the highest rating.
		</p>
		<div class="button-bar">
		<a class="button button-block ion-sad button-assertive" on-tap="hideCards()"> No, Thanks</a>
			<a class="button button-block ion-happy button-stable" on-tap="appRate();"> Yes</a>
		</div>
	</div>
</div>
