<ion-view class="feed-entries-details-view" header-hide-directive>
    <ion-nav-bar class=" headerOfPage bar app-top-bar effect1 header-item-buttons">
        <ion-nav-buttons side="left">          
            <div class="buttons">
                <button class="button button-icon button-assertive ion-android-arrow-back" ng-click="myGoBack()"></button>
            </div>
        </ion-nav-buttons> 
        <ion-nav-title>
            <span ng-bind = "entry.source_name"></span>
        </ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-android-share-alt" on-tap="sharePost(post)">
            </button>
            <button class="button button-icon button-clear ion-android-bookmark" on-tap="bookmarkPost(post)">
            </button>
        </ion-nav-buttons>        
    </ion-nav-bar>
    <ion-content on-scroll="hideDetailPageHeader()" delegate-handle="detailPageHeaderHideHandler" class="top-spacing">

        <div class="feed-detail-cont" lazy-scroll>

            <div class="feed-entries-card post" post-content>
                <h4 ng-bind="entry.feed.title || entry.title" class="title" on-hold="copyText('Header')"></h4>
                <h5>Posted by <span class="author entry-author-name detail-page-author" ng-bind="entry.source_name"></span><span class="feed-date" ng-bind-html="entry.feed.updated | utcTimestampToLocalDateFilter"></span></h5>
            </div>
            
            <div class="feed-detail-content" ng-if="load" image-path-fix>                          
                <p dynamic-anchor-fix compile="entry.feed.content || entry.feed.summary | rawHtml">
                </p>

                <div class="button-bar button-bar-detail-page">
                    <a class="button button-clear card-button primary" on-tap="openOriginalStoryLink(topic.social_links.website_url)">
                        View Original Article            
                    </a>
                </div>
                
               
            </div>
        </div>
        <div class="credit-bar-section">
<!--             <div class="pull-left credit-bar-icon">
                <i class="icon ion-happy-outline"></i>
            </div> -->
            <div class="credit-bar">
                <p>Credit:</p>
                <p>This content is owned by <span class="credit-bar-link" on-tap="openOriginalStoryLink(topic.social_links.website_url)">{{entry.source_name}} </span></p>
            </div>           
        </div>
        <div class = "row expend" >
            <div class = "col col-50 social-list-border text-color" >Reach {{entry.source_name}}</div>
            <div class = "col social-list-border" ng-show="topic.social_links.website_url" on-tap="openOriginalStoryLink(topic.social_links.website_url)"> <i class="icon ion-ios-world"></i></div>
            <div class = "col social-list-border" ng-show="topic.social_links.facebook_url" on-tap="openFacebookLink(topic.social_links.facebook_url)"> <i class="icon ion-social-facebook">{{facebook}}</i></div>
            <div class = "col social-list-border" ng-show="topic.social_links.twitter_url" on-tap="openTwitterLink(topic.social_links.twitter_url)"> <i class="icon ion-social-twitter">{{twitter}}</i></div>
            <div class = "col social-list-border" ng-show="topic.social_links.instagram_url" on-tap="openInstagramLink(topic.social_links.instagram_url)"> <i class="icon ion-social-instagram">{{Instagram}}</i></div>
            <div class = "col social-list-border" ng-show="topic.social_links.youtube_url" on-tap="openYoutubeLink(topic.social_links.youtube_url)"> <i class="icon ion-social-youtube">{{Youtube}}</i></div>
             <div class = "col social-list-border" ng-show="topic.social_links.email" on-tap="openEmail(topic.social_links.email)"> <i class="icon ion-email">{{Email}}</i></div>
        </div> 

        <div class="button-bar button-bar-detail-page">
            <a class="button button-clear card-button primary" on-tap="bookmarkPost(entry)">
                <i ng-class= "{ 'icon ion-android-bookmark bookmark-save-icon':(entry.bookmarkSaved) , 'icon ion-android-bookmark':(!entry.bookmarkSaved) }"></i> Save            
            </a>
            <a class="button button-clear card-button secondary" ng-click="sharePost(entry)"><i class="icon ion-android-share-alt coin"></i> Share</a>
        </div>             
    </ion-content>
    <div class="float-button-left effect1" on-tap="previousButton()" ng-hide="currentIndex==0">
        <span class="height-fix">
            <a ng-click="" class="cont">
                <i class="ion-chevron-left white"> </i>
            </a>
        </span>
    </div>
    <div class="float-button-right effect1" on-tap="nextButton()" ng-hide="currentIndex==allFeed.length-1">
        <span class="height-fix">
            <a ng-click="show()" class="cont">
              <i class="ion-chevron-right white"> </i>
            </a>
        </span>
    </div>

</ion-view>
