<div class="entry-content item item-text-wrap" ng-class="{'entry-content-unread': !entry.status}" lazy-scroll>
	<div on-tap="loadPostDetails(entry)">
		<i ng-class= "{ 'icon ion-eye-disabled left read-unread':(entry.is_read==false) , 'icon ion-eye left read-unread':(entry.is_read==true) }"></i>
		<p class="entry-author">
			<span class="entry-author-name">By {{entry.source_name}}</span> 
			<span class="feed-date-time" ng-bind="entry.feed.updated | utcTimestampToLocalDateFilter"></span>
		</p>
		<div class="entry-content-section">
			<div class="entry-content-img">
				<img image-lazy-src="{{entry.image || defaultImage}}" image-lazy-loader="android" image-lazy-distance-from-bottom-to-load="3500px" lazy-scroll-resize="true">
			</div>
			<div class="entry-content-title">
				<h2 ng-bind="entry.feed.title"></h2>
			</div>
			<div class="clearfix"></div>
		</div> 
	</div>
	<div class="card-footer">
		<div class="button-bar">
			<a class="button button-clear card-button primary" on-tap="bookmarkPost(entry)">
				<i ng-class= "{ 'icon ion-android-bookmark bookmark-save-icon':(entry.bookmarkSaved) , 'icon ion-android-bookmark':(!entry.bookmarkSaved) }"></i> Save				
			</a>
			<a class="button button-clear card-button secondary" ng-click="sharePost(entry)"><i class="icon ion-android-share-alt coin"></i> Share</a>
		</div>
	</div>
</div>
