<ion-view class="feed-entries-view">
	<ion-nav-bar class="bar app-top-bar effect1 header-item-buttons">
		<ion-nav-buttons side="left">
			<button class="button button-icon ion-navicon" menu-toggle="left">
			</button>
		</ion-nav-buttons>
		<ion-nav-buttons side="right">  
			<button class="button button-icon ion-ios-heart" app-rate-directive></button>
			<!-- <app-rate-model></app-rate-model> -->
			<header-popover></header-popover>
		</ion-nav-buttons> 
	</ion-nav-bar>
<ion-content class="has-header">   

	<div class="categories-list feed-col">
		<div class="source-section" ng-repeat="source in feedSources | orderBy : 'image_character'" ng-show="source.locale=='local'">
			<a class="feed-category" on-tap="feedDetail(source.id,source.name)">
				<img class="circle-1 circle-img" src="img/feeds/logos/feed-source.png">
				<img class="circle-2 circle-img" src="img/feeds/logos/feed-source.png">
				<div class="source-img-char">
					<p ng-bind="source.image_character"></p>
				</div>
				<div class="source-title">
					<p ng-bind="source.name"></p>
				</div>
				<!-- <pre-img ratio="_1_1" helper-class="square-image">
					<img class="category-image" ng-src="img/feeds/logos/bbc.jpg" spinner-on-load>
				</pre-img>
				<div class="category-bg"></div> -->
			</a>
		</div>
	</div>
</ion-content>
<button id="app-rate-model-source-feed" app-rate-directive ng-hide="true"></button> 
</ion-view>