<ion-view class="feed-entries-view">

	<!-- Tabs for Home Page -->
	<ion-tabs class="tabs-striped tabs-color-assertive tabs-icon-top">
		
		<!--All tab-->
		<ion-tab title="All" icon-on="ion-arrow-shrink" icon-off="ion-arrow-expand" ui-sref="app.feeds.all">
			
			<ion-nav-view name="all-tab"></ion-nav-view>
			
		</ion-tab>

		<!--Local tab-->
		<ion-tab title="Local" icon-on="ion-ios-location" icon-off="ion-ios-location-outline" ui-sref="app.feeds.local">

			<ion-nav-view name="local-tab"></ion-nav-view>

		</ion-tab>

		<!--Foreign  tab-->
		<ion-tab title="foreign" icon-on="ion-ios-world" icon-off="ion-ios-world-outline" ui-sref="app.feeds.foreign">

			<ion-nav-view name="foreign-tab"></ion-nav-view>

		</ion-tab>	

	</ion-tabs> 
</ion-view>