/* Custom Fonts */
@font-face {
  font-family: 'avenir';
  src: url('../fonts/avenir-book.eot');
  src: url('../fonts/avenir-book.eot?#iefix') format('embedded-opentype'),
       url('../fonts/avenir-book.woff2') format('woff2'),
       url('../fonts/avenir-book.woff') format('woff'),
       url('../fonts/avenir-book.ttf') format('truetype'),
       url('../fonts/avenir-book.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Side the scroll bar */
.scroll-bar-indicator { 
	display: none;
}

/* 
	App Intro Styles
*/

.intro_wrapper {
	width: 100%;
	background-color: #EBEBEB;
}
.intro_wrapper img {
	width: 80%;
  padding-top: 60px;
  padding-bottom: 20px;
  margin-bottom: -5px;
  padding-left: 18%;
}
.intro_title {
	background-color:#EBEBEB;
}

.intro_title h3{
	font-family: 'avenir-light', sans-serif;
	font-size: 20px;
	text-transform: capitalize;
	text-align: center;
	color: #333;
  padding: 14px 10px;
}
.bar-footer {
	background-image: none;
 margin-bottom: 10px;
  position: absolute;
  z-index: 1;
}
.bar-footer a {
	text-decoration: none;
	color: #FE6263;
	font-family: 'avenir', sans-serif;
	font-size: 20px;
	padding-left: 15px;
	
}
.bar-footer i.ion {
	float: right;
  padding-right: 20px;
  font-size: 20px;
  color: #FE6263;
  cursor: pointer;
}
.bar .button.button-clear.start {
	font-size: 17px;
  background-color: #FE6263;
  color: #fff;
  padding: 4px 15px;
  margin-top: -7px;
  margin-bottom: 3px;
  opacity: 1;
}
.slider {
	height: 100%;
	background-color: #EBEBEB;
}
.slider-pager {
  bottom: 23px;
  z-index: 3;
  width: 45%;
  margin-left: 28%;
}
.slider-pager .slider-pager-page i.ion-record:before {
	/*color: #fff;*/
	color: #333;
}
.slider-pager .slider-pager-page.active i.ion-record:before {
	color: #FE6263;
}